html, body {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
    color: #303137;
    margin: 0;
    overflow-x: hidden;
}
body{
    background-color: #181818;
}
.alternate-bg{
    position:absolute;
    width: 100%; 
}

.container{
    max-width: 1140px;
    width:100%;
    margin: 0 auto;
}
/* Navigation */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 5px 30px;
    position: fixed;
    background-color: #181818;
    width: 100%;
    margin: 0 auto;
}

.brand, a.nav-link{
    text-transform:lowercase;
    color: #fff;
}

.brand a{
    text-decoration: none;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 30px;
    font-weight: 400;
    color:#fff;
}
.brand a:hover{
    color: #C0A062;
    cursor: pointer;
}
ul.topnav{
    display: flex;
    margin:0;
    padding: 0;
    list-style: none;
    color: #fff;
    
}

a.nav-link{
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    font-size: 18px;
}
a.nav-link:hover, .active{
    padding-bottom: 15px;
    border-bottom:4px solid #C0A062;

}
li.dropdownLink{
    display: none; 

}

/* Header */
header{
    display: flex;
    justify-content: center;
    padding-top:30px; 
}
div.headershot-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10rem 0;
    color: #fff;
    margin: 0 auto;
}
.pre-title{
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: left;
}
.name{
    color: #C0A062;
    font-size: 50px;
    font-weight: 700;
}
img.headshot{
    border-radius:50%;
    max-width: 300px;
    width: 100%;
    height: auto;
}
ul.social_icons, .footer_social_icons{
    display: flex;
    margin:0 auto;
    list-style: none;
    color: #fff;
    max-width: 40%;
    justify-content: space-around;
    text-align: left;
}

ul.social_icons li a{
    text-decoration: none;
    color: #fff;
}
ul.social_icons li a:hover{
    color: #C0A062;
}


/* About me */
.about-me{
    background-color: #181818;
    color: #fff;
}
.about-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mypic{
    max-width: 50%;
    width: 100%;
    flex: 1;
}
.mypic img{
    width: 100%;
}
.about-info{
    padding: 1rem 3rem 6rem;
    font-size: 18px;
    flex: 1;
    max-width: 40%;
    width: 100%;
}
.about-info p{
    line-height: 1.5em;
}
.about-info h2{
    text-align: center
}
/* Portfolio */
.portfolio{
    background-color:#f1f3fa;
}
.portfolio-header{
    text-align: center;
    padding: 6rem 0 2rem;
}
.portfolio-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio-object{
    max-width: 400px;
    margin: 1rem 0;
}
img.portfolio-box{
    width: 100%;
    height: 227px;
    transition: .2s ease-in-out;
}
img.portfolio-box:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.portfolio-object h4{
    text-align: center;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
    cursor: pointer;
  }
  
#display{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    width: 50%;
  }

/* Contact Form */
.contact-form{
    background-color: #1a1a1a;
    padding: 6rem 0;
}
.ctm{
    max-width: 800px;
    margin: 0 auto;
}
.form-group{
    margin-bottom: .75rem;
}
.form-control{
    background-color: #181818;
    color: #787878;
    border-radius: 2px;
    border: 1px solid #181818;
    padding: .375rem .75rem;
    line-height: 1.5;
    font-size: 16px;
    background-clip: padding-box;
    max-width: 800px;
    width: 99%;
    margin: 1em 0;
}
/* .right{
    margin-right:23px; 
} */
textarea{
    max-width: 1000px;
    width: 100%;
}
.submit-btn-wrapper{
    margin-top: 2rem;
    text-align: center;
}
.submit-btn{
    color: #fff;
    background-color: #C0A062;
    font-size: 18px;
    text-align: center;
    padding: .8rem 4rem;
    border: none;
    border-radius: 2px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    cursor: pointer;
}


/* Footer */
footer{
    padding: 3rem 1rem;
}
.footer_container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer-brand{
    text-transform:lowercase;
    color: #787878;
}
.footer-social{
    display: flex;
    flex: row;
}
.footer_social_icons{
    width: 100%;
    max-width: 80%;
    justify-content: space-between;
}
.footer_social_icons li {
    padding-right: 30px;
}
.footer_social_icons li a{
    color: #787878;
}
.footer_social_icons li a:hover{
    color: #fff;
}



/* Mobile Styles */
@media only screen and (max-width: 768px){
    div.headershot-wrapper{
        padding: 2rem 0;
    }
    a.nav-link{
        padding: 10px;
    }
    ul.topnav li a.nav-link{
        display: none;
    }
    ul.topnav li.dropdownLink{
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
    }
    ul.topnav.responsive{
        flex-direction: column;
    }
    ul.topnav.responsive li{
        position: relative;
        top: 30px;
    }
    ul.topnav.responsive li.dropdownLink{
        position: absolute;
        top: 15px;
        right: 20px;
    }
    ul.topnav.responsive li a.nav-link{
        display: block;
        text-align: center;
    }
    .dropdownLink a{
        color: #C0A062;
        font-size: 28px;
        text-decoration: none;
    }
    h1.name{
        font-size: 28px;
    }
    .about-wrapper{
        flex-direction: column;
    }
    .mypic{
        max-width: 90%;
        order: 2;
    }
    .about-info{
        padding: 1rem;
        order: 1;
        max-width: 100%;
        width: 90%;
    }
    .form-control{
        width: 80%;
    }
    .submit-btn-wrapper{
        text-align: center;
    }
    nav ul{
        width:100%;
        margin: auto;
    }
}

@media(max-width:600px){

    div.headershot-wrapper{
        padding: 2em 0;
    }
    h1.name{
        font-size: 20px;
    }
    .form-control{
        width: 80%;
    }
    .submit-btn-wrapper{
        text-align: center;
    }

    .about-wrapper{
        display: flex;
        align-items: left;
        padding: 4rem 1rem;
        flex-direction: column;
    }
    .about-me img{
        display: none;    
    }
    .about-info{
        order: 1;
        max-width: 100%;
        width: 90%;
    }
}