$color-black: #1a1a1d;
$color-gray: #666;
$color-white: #fff;

$breakpoint-ipad: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;

// Mixins
@mixin sm {
  @media (min-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$breakpoint-ipad}) {
    @content;
  }
}

// Animation
@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

// Universal styling

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
