$color-black: #1a1a1d;
$color-gray: #666;
$color-white: #fff;

$breakpoint-ipad: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;

// Mixins
@mixin sm {
  @media (min-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$breakpoint-ipad}) {
    @content;
  }
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
}

