.cursor {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(27, 27, 27);
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  animation: cursorAnim2 0.5s infinite alternate;
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid pink;
}

.flex-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include lg {
    flex-direction: row;
    justify-content: space-between;
  }
  &-1 {
    @include lg {
      flex: 1;
    }
  }
  &-2 {
    @include lg {
      flex: 2;
    }
  }
}
