.glitch {
  font-size: 7rem;
  line-height: 1.4;
  font-weight: 700;
  margin: 0 auto;
  @include lg {
    text-align: center;
  }
  @include textGlitch(
    'glitch',
    17,
    $color-pink,
    $color-black,
    $color-dull-pink,
    $color-white,
    320,
    115
  );
}

.btn {
  &:link,
  &:visited {
    display: block;
    padding: 1rem 2rem;
    border: 1px solid $color-pink;
    text-decoration: none;
    transition: all 0.5s;
    text-align: center;
    margin: 1rem 0;
    width: 100%;
    &:hover {
      background-color: $color-dull-pink;
      color: $color-white;
    }
  }
  &-location {
    color: $color-pink;
    background-color: $color-white;
    @include lg {
      margin-right: 2rem !important;
    }
  }
  &-repo {
    background-color: $color-pink;
    color: $color-white;
  }
}
