.container {
  max-width: 128rem;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  @include md {
    padding: 10rem;
  }
}

.hero {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  &__image {
    margin: 0 auto;
    max-width: 100%;
    min-height: 25rem;
    height: auto;
    @include lg {
      height: calc(96vh - 160px);
    }
  }
  &__title {
    font-size: 4.2rem;
    font-weight: 900;
    margin: 2rem 0 2rem;
    @include md {
      font-size: 6.2rem;
    }
    @include lg {
      font-size: 8.2rem;
    }
    span {
      font-style: italic;
      font-weight: 200;
    }
  }
}

.about {
  padding: 1rem;
  p {
    font-size: 3.2rem;
    line-height: 4.8rem;
    font-weight: 300;
    transition: all 0.5s ease-in-out;
    margin-bottom: 1rem;
  }
  &__expanded {
    display: none;
    transition: all 0.5s ease-in-out;
  }
  &-btn {
    background: none;
    display: block;
    text-align: center;
    color: $color-gray;
    border: 0;
    cursor: pointer;
    font-size: 3.2rem;
    margin: 5rem auto;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    &:hover {
      color: $color-black;
    }
    &__text-line {
      text-decoration: underline;
    }
    &__text-no-line {
      text-decoration-style: none;
      font-weight: 700;
    }
  }
}
