.header {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  background-color: $color-black;
  color: $color-white;
  padding: 10rem 3rem;
  border: 4px solid $color-pink;
  border-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include md {
    padding: 15rem 3rem;
  }
  &__title {
    font-size: 7rem;
    line-height: 1.4;
    @include md {
      text-align: center;
    }
  }
  &__subtitle {
    margin: 2rem auto;
    color: $color-gray;
    @include md {
      width: 58rem;
      margin: 1rem auto;
      text-align: center;
    }
  }
}

.projects {
  padding: 6rem 3rem;
  &__title {
    color: $color-pink;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    margin: 1rem 0;
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    @include lg {
      padding: 2rem 3rem;
      flex-direction: row;
      justify-content: center;
    }
    &__image {
      width: 100%;
      padding: 2rem;
      flex: 1;
      @include lg {
        max-width: 560px;
      }
      img {
        width: 100%;
      }
    }
    &__content {
      text-align: center;
      padding: 2rem;
      @include lg {
        text-align: left;
        padding: 0 2rem;
        flex: 1;
      }
      &__title {
        color: $color-pink;
      }
      &__description {
        color: $color-gray;
        margin-bottom: 1rem;
      }
      &__btn-container {
        display: flex;
        flex-direction: column;
        @include lg {
          flex-direction: row;
        }
      }
    }
  }
}

.contact {
  padding: 2rem;
  background-color: $color-black;
  border: 4px solid $color-pink;
  border-top: 0;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  &__container {
    padding: 8rem 2rem;
    background-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    @include md {
      flex-direction: row;
    }
  }
  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 4rem;
    @include textGlitch(
      'contact-title',
      5,
      $color-pink,
      $color-black,
      $color-dull-pink,
      $color-white,
      320,
      115
    );
    @include md {
      margin-bottom: 0;
    }
  }
  &__social {
    color: $color-white;
    display: flex;
    &__link {
      &:not(:last-child) {
        margin-right: 1.3rem;
      }
      &:link,
      &:visited {
        text-decoration: none;
        color: $color-pink;
        transition: all 0.5s;
        &::after {
          content: '';
          display: block;
          width: 0;
          border-bottom: 3px solid $color-pink;
          transition: 0.5s;
        }
      }
      &:hover {
        &::after {
          content: '';
          display: block;
          width: 100%;
          border-bottom: 3px solid $color-pink;
          transition: 0.5s;
        }
      }
    }
  }
}
